<html>
    <button ng-click="vm.init()">INIT</button>
    <button ng-click="vm.drop()">DROP</button>
    <div ng-if="vm.responseD == 'success'" class="alert alert-info">Drop vspesen!</div>
    <div ng-if="vm.responseD == 'error'" class="alert alert-danger">Napaka!</div>
    
    <div ng-if="vm.responseI == 'success'" class="alert alert-info">Init vspesen!</div>
    <div ng-if="vm.responseI == 'error'" class="alert alert-danger">Napaka!</div>
</html>